<html>
<head>
<title>Home</title>
</head>

<body style="background-color: green;" />
<h1> Hello All this is about page </h1>

<%= link_to 'Home', root_path, {:style => 'color: black;' 'font-weight:bold;'}%>
</body>


</html>
