<body style="background-color: orange;" >
<div class="center jumbotron" >

<h1> BLOGS </h1>
</body> 
<%= link_to "SignUp", "#", class: "btn btn-danger btn-lg btn-xlarge"  %> 
</div>

<div class="container">
 <footer class="footer">
 <ul><%= link_to "About", about_path,{:style => 'color: black;''font-weight: bold;'}%></ul>
</footer>
</div>

<html/>